<!DOCTYPE html>
<html>
<head>
  <title>FidoLogin</title>
  <%= stylesheet_link_tag    "fido_login/application", media: "all" %>
  <%= javascript_include_tag "fido_login/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert fidologin-status"><%= alert %></p>
<%= yield %>

</body>
</html>
